<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.mapper.UserMapper">

	<update id="modifyUser" parameterType="java.util.Map">
		update user set ${type} = #{value} where id like #{key}
	</update>

	<!-- 추가적인 SQL 매핑 구문들을 작성할 수 있습니다. -->
	<insert id="createCal" parameterType="CalendarVO" keyColumn = "calNo" keyProperty = "calNo" useGeneratedKeys = "true">
		<![CDATA[
        INSERT INTO calendar (startDate, endDate, content, nickname)
        VALUES (
            CASE WHEN #{startDate} <= #{endDate} THEN #{startDate} ELSE #{endDate} END,
            CASE WHEN #{startDate} <= #{endDate} THEN #{endDate} ELSE #{startDate} END,
            #{content},
            #{nickname}
        )
    ]]>
	</insert>
	<update id="modifyCal" parameterType="CalendarVO" >
		 <![CDATA[
        update calendar
        set
            startDate = CASE WHEN #{startDate} <= #{endDate} THEN #{startDate} ELSE #{endDate} END,
            endDate = CASE WHEN #{startDate} <= #{endDate} THEN #{endDate} ELSE #{startDate} END,
            content = #{content}
        where calNo = #{calNo}
    ]]>
	</update>
	<delete id="removeCal" parameterType="CalendarVO">
		delete from calendar where calNo = #{calNo}
	</delete>
	<select id="showAllCal" resultType="CalendarVO">
		select * from calendar where nickname = #{nickname};
	</select>
	<select id="showCal" resultType="CalendarVO">
		select * from calendar where calNo = #{calNo};
	</select>
	<delete id="deleteUser" parameterType="String">
		DELETE FROM USER WHERE id=#{id}
	</delete>
	<select id="showCalList" resultType="CalendarVO" parameterType="String">
		select * from calendar where #{date} 
		
			between startDate and endDate and nickname = #{nickname};
		
	</select>
</mapper>
